body {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

.jumbotron {
    background-image: url("https://www.ready.gov/sites/default/files/2020-05/hurricane-ocean-waves.jpg");
    background-size: cover;
    height: 100%;
    color: white;
    text-shadow: 2px 2px 20px black;
    font-weight: bolder;
    
}


.panel-default > .panel-heading-custom{
    background-color: dimgrey;
    color: white;
}

p {
    font-style: italic;
    font-weight: bolder;
    color: white;
}

.btn {
    color: white;
    border: white;
    background-color: dimgrey;
    box-shadow: 0 8px 16px 0 black, 0 6px 20px 0 black;
}

.btn:hover {
    background-color: black;
}


.well {
    background-color: black;
    color: white;
}

#selDataset {
    color: black;
    text-align: left;
}
#sample-metadata {
    color: black;
}

#map,
html {
    height: 540px;
}