body {
    color: black;
}

.jumbotron {
    background-image: url("https://www.ready.gov/sites/default/files/2020-05/hurricane-ocean-waves.jpg");
    background-size: cover;
    height: 100%;
    
}

h1 {
    color: white;
    text-shadow: 2px 2px 5px #000000;
    
}

.panel-default > .panel-heading-custom{
    background-color: black;
    color: white;
}

p {
    font-style: italic;
    font-weight: bolder;
    color: white;
}

.btn {
    color: white;
    border: black;
    background-color: black;
}

.well {
    background-color: black;
    color: white;
}

#selDataset {
    color: black;
}
#sample-metadata {
    color: black;
}

#map,
html {
    height: 540px;
}