<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hurricanes</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./../static/css/style.css">


  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.2/p5.js"
    integrity="sha512-+tu0+vUXyZX+S51npa//IN6znNTLZsBoy8mXn9WzHxfBqYMy6gOzzfTK0VqZf9O171RY9AJviHDokCnvEq8+1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.2/addons/p5.sound.js"
    integrity="sha512-TU9AWtV5uUZPX8dbBAH8NQF1tSdigPRRT82vllAQ1Ke28puiqLA6ZVKxtUGlgrH6yWFnkKy+sE6luNEGH9ar0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script language="javascript" type="text/javascript" src="./../static/js/sketch.js"></script>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Hurricane Devastation</h1>
        <p>Use the interactive charts below to explore the dataset</p>
        <a href="/hurricane-selector" class="btn btn-primary btn-lg" role="button">Hurricane Data</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-right">
        <div id="sketch-holder">
        </div>
        </br>
        </br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 text-center">
        <div id="scatter1"></div>
        <p1>Scatter plot of Windspeeds and Damages caused by the hurricanes.
          The plot shows no correlation between the two.
        </p1>
        </br>
        </br>
        </br>
        </br>
      </div>

      <div class="col-md-6 text-center">
        <div id="scatter2"></div>
        <p1>Scatter plot of Windspeeds and Deaths the hurricanes caused.
          The plot shows no correlation between the two.
        </p1>
        </br>
        </br>
        </br>
        </br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 text-center">
        <div id="scatter3"></div>
        <p1>Scatter plot of Pressure in hectopascals and the damages the hurricanes caused.
          The plot shows no correlation between the two.
        </p1>
        </br>
        </br>
        </br>
        </br>
      </div>

      <div class="col-md-6 text-center">
        <div id="scatter4"></div>
        <p1>Scatter plot of Pressure in hectopascals and deaths caused by the hurricanes.
          The plot shows no correlation between the two.
        </p1>
        </br>
        </br>
        </br>
        </br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <div id='scatter5'></div>
        <p1>The graph above shows the months in which hurricanes devastate our country. As seen from the graph,
          September is the month most hurricanes are formed
        </p1>
        </br>
        </br>
        </br>
        </br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <div id="catdata"></div>
        <p1>The graph shows the top 10 hurricanes which have caused damages in Billions of Dollars
        </p1>
        </br>
        </br>
        </br>
        </br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <div id="cat2data"></div>
        <p1>These are the top ten hurricanes in our dataset, in terms of fatalities. Mitch in 1998 was the most
          devastating. More than 19,000 people were killed in this hurricane. </p1>
        </br>
        </br>
        </br>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12 text-center">
        <div id="cat3data"></div>
        <p1>This bar chart shows the top ten hurricanes that did the most damage (in billions of dollars) in blue vs
          and the fatalites of these hurricanes in red. </p1>
        </br>
        </br>
        </br>
        </br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <div id="cat4data"></div>
        <p1>This bar chart shows the top ten hurricanes that had most fatalities (in red) compared to
          and the damages (in billions of dollars) in blue. </p1>
        </br>
        </br>
        </br>
        </br>
      </div>
    </div>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="application/javascript" src="./../static/js/functions.js"></script>
    <script type="application/javascript" src="./../static/js/data.js"></script>
    <script type="application/javascript" src="./../static/js/logic.js"></script>
    <script type="application/javascript" src="./../static/js/home.js"></script>
    <script type="text/javascript" src="./../static/js/category.json"></script>
    <script type="text/javascript" src="./../static/js/dfjson.json"></script>
    <script type="text/javascript" src="./../static/js/hurricane_path.json"></script>
    <script type="text/javascript" src="./../static/js/hurricane.json"></script>
    <script type="application/javascript" src="./../static/js/data_cwm.js"></script>
    <script type="application/javascript" src="./../static/js/hurricane_fatalities.js"></script>
    <script type="application/javascript" src="./../static/js/damages_fatalities.js"></script>
    <script type="application/javascript" src="./../static/js/top_10_deaths_damages.js"></script> -->


</body>

</html>