<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hurricanes</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./../static/css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

</head>

<body>
 
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Hurricane Devastation</h1>
        <p>Use the interactive charts below to explore the dataset</p>
        <a href="/" class="btn btn-primary btn-lg" role="button">Hurricane Graphics</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading panel-heading-custom">
            <h3 class="panel-title">Hurricane Data</h3>
            <br>
            <select id="selDataset"></select>
          </div>
          <div id="sample-metadata" class="panel-body">
            <ul id="metalist" class="list-unstyled"></ul>
            <div id="web"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="map">
    </div>
 

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""></script>
    <script type="application/javascript" src="./../static/js/functions.js"></script>
    <script type="application/javascript" src="./../static/js/data.js"></script>
    <script type="application/javascript" src="./../static/js/logic.js"></script>
    <script type="text/javascript" src="./../static/js/category.json"></script>
    <script type="text/javascript" src="./../static/js/dfjson.json"></script>
    <script type="text/javascript" src="./../static/js/gif_scrape.json"></script>
    <script type="text/javascript" src="./../static/js/hurricane_path.json"></script>
    <script type="text/javascript" src="./../static/js/hurricane.json"></script>
    <script type="application/javascript" src="./../static/js/data_cwm.js"></script>
 

</body>

</html>